body {
  width: 100vw;
}

* {
  font-family:Arial, Helvetica, sans-serif;
}

/*container cover whole page*/
#boxesContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*first 2 boxes*/
#first2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*second 2 boxes*/
#second2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*all boxes*/
.boxes {
  flex: 1 1 25%;
  height: 100vh;
  width: 25%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 75%;
  height: 25%;
  background: rgba(194, 194, 194, 0.473);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

.textAreas {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 5px;
  background: none;
  resize: none;
  text-align: center;
  color: white;
  width: 75%;
  height: 30px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.1s linear;
}

.btns {
  background: none;
  width: 55%;
  height: 20%;
  color: black;
  box-shadow: -2px 4px 0px black;
}

.btns:active{
  box-shadow: -1px 1px 0px black;
  transform: translate(-1px, 3px);
}

.saveBtn {
  position: fixed;
  right: 2%;
  top: 2%;
  width: 100px;
  height: 50px;
  background: none;
  color: white;
  box-shadow: -3px 5px 0px black;
  background: rgb(20, 189, 20);
  font-weight: bold;
}

.saveBtn:active{
  box-shadow: -1px 2px 0px black;
  transform: translate(-2px, 3px);
}

#saveBtnAfter {
  background-color: red;
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  .boxes {
    height: 50vh;
    width: 50%;
  }
  #boxesContainer {
    flex-wrap: wrap;
  }
  .cards {
    height: 50%;
  }
}

@media screen and (max-width: 552px) {
  .btns {
    font-size: 0.9rem;
  }
}
